body{
    margin: 0;
    padding: 0;
    font-family: arial;
    color: lightgray;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    background-color: #00000000;
}
.back-video{
    position: fixed;
    right: 0;     
    bottom: 0;
    z-index: -1;
    mix-blend-mode: lighten;
}
header{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.123);
    backdrop-filter: blur(3px);
    padding: 0 30px;
    box-shadow: 0 0 15px #72a1de68;
    z-index: 999;
}
.left{
    display: flex;
    align-items: center;
    
}
.left img{
    width: 50px;
    margin:0 15px;
}
header ul{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 30%;
    padding: 15px;
    border-radius: 50px;
    background-color: rgba(0, 0,69,0.30);
    background-filter: blur(50px);
    box-shadow: 0 0 10px #72a1de65;

}
div header ul li{
    list-style: none;
    
    font-weight: 700;
    margin: 0 10px;

}
div header ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
div header ul li a:hover{
    
    text-shadow: #ffffff;
    /* box-shadow: 0 0 15px #727fde6f; */
}
.box-icons{
    display: flex;
    gap: 40px;
}
.box-icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border: 2px solid #727fde;
    text-decoration: none;
    color: lightgrey;
    border-radius: 50%;
    transition: 0.3s;
}

.box-icons a:hover{
    background-color: #727fde;
    color: black;
    box-shadow: 0 0 15px #727fde6f;
}
.blackhole-box{
    position: absolute;
    top: 1%;
    width: 100%;
    justify-content: center;
    mix-blend-mode: lighten;
}
.blackhole-box video{
    width: 100%;
    margin-top: -25.5%;
}

.hero{
    position:relative;
    display: flex;
    width:100%;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.hero-info{
    position: absolute;
    left: 5%;

}
/* .hero-info .hero-info-title{
    color: #727fde;
    padding: 8px 5px;
    border: 1px solid #727fde77;
    width: 240px;
    background-color: #2200493d;
    box-shadow: 0 0 5px #727fde88;
    border-radius: 50px;

} */

.hero-info h1{
    font-size: 60px;
    max-width: 600px;
    font-weight: 700;
    line-height: 70px;
    margin-top: 40;
    margin-bottom: 30px;

}

.hero-info p{
    font-size: 20px;
    max-width: 550px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 40px;
}
.hero-info button{
    color: white;
    padding: 15px 35px;
    border-radius: 10px;
    border: 1px solid #727fdeb4;
    background-color: #2200493d;
    box-shadow: 0 0 5px #727fde88;
    cursor: pointer;
    transition: 0.6s;
    font-size: 20px;
}
.hero-info button:hover{
    background-color: #727fde;
    box-shadow: 0 0 15px #727fde6f;
}

/* gradiant animation */
.gradiant{
    background: linear-gradient(to right, #3448f8, #727fde,#ffffff,#eb7e7e, #7e0dff, #3448f8);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradiant 2.5s linear infinite;
}

@keyframes animate-gradiant{
    to{
        background-position: 200%;
    }
}


.hero-vid-box{
    position: absolute;
    right: 3%;
}
.hero-vid-box video{
    width: 900px;
}

.scrool-down{
    height: 50px;
    width: 30px;
    border: 2px solid lightgrey;
    position: absolute;
    left: 49%;
    bottom: 8%;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(211, 211, 211, 0.477);
}
.scrool-down::before,
.scrool-down::after{
    content: "";
    position: absolute;
    top: 40%;
    left: 50%;
    height: 10px;
    width: 10px;
    border: 2px solid lightgrey;
    transform: translate(-50%,-100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scrool-down 2s ease-in-out infinite;
}

.scrool-down::before{
    top: 30%;
    animation-delay: 0.5s;
}
@keyframes scrool-down{
    0%{
        opacity: 0;
    }
    30%,60%{
        opacity: 1;
    }
    100%{
        top: 90%;
        opacity: 0;
    }
} 

















































@media(min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}